In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("pred_const_ip_cache.csv")
df = df[~df["RegionName"].isin(df["RegionName"].unique()[1:])].reset_index(drop=True)
df = df.rename(columns={"PredictedDailyNewCases":"DailyNewCases"})
df["DailyNewCasesMA"] = df["DailyNewCases"].rolling(7).mean()
df["DailyNewCasesMA"].fillna(df["DailyNewCases"], inplace=True)
df["DailyNewCases"] = df["DailyNewCasesMA"]
df = df.sort_values(by="CountryName").reset_index(drop=True)
df = df.drop(columns=["DailyNewCasesMA"])

In [5]:
df

       CountryName RegionName        Date  DailyNewCases
0      Afghanistan        NaN  2021-02-08      39.240787
1      Afghanistan        NaN  2021-03-04     230.115555
2      Afghanistan        NaN  2021-03-05     251.547535
3      Afghanistan        NaN  2021-03-06     275.279257
4      Afghanistan        NaN  2021-03-07     301.563216
...            ...        ...         ...            ...
16105     Zimbabwe        NaN  2021-03-04     420.116691
16106     Zimbabwe        NaN  2021-03-03     395.123799
16107     Zimbabwe        NaN  2021-03-02     372.059999
16108     Zimbabwe        NaN  2021-02-27     313.039503
16109     Zimbabwe        NaN  2021-05-07   29956.819361

[16110 rows x 4 columns]